In [1]:
import pandas as pd
import numpy as np

In [21]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer

In [6]:
df = pd.read_csv("Titanic-Dataset.csv")
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<h1>Making train test split</h1>

In [7]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test = train_test_split(df.drop(["Survived"],axis=1),df["Survived"],test_size=0.2)

In [13]:
X_train.shape

(712, 11)

In [74]:
X_train.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
664,665,3,"Lindqvist, Mr. Eino William",male,20.0,1,0,STON/O 2. 3101285,7.9250,NaN,S
96,97,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
161,162,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0,0,0,C.A. 33595,15.7500,NaN,S
763,764,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0,1,2,113760,120.0000,B96 B98,S
885,886,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q

In [75]:
y_train.sample(5)

475    0
781    1
123    1
410    0
126    0
Name: Survived, dtype: int64

In [76]:
X_test.shape

(179, 11)

In [77]:
X_train.shape

(712, 11)

In [78]:
X_train.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            142
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          549
Embarked         2
dtype: int64

In [79]:
from sklearn.compose import ColumnTransformer

In [80]:
transformer = ColumnTransformer(
    transformers=[
        ("tnf1",SimpleImputer(strategy="most_frequent"),["Embarked"]),
        ("tnf2",OneHotEncoder(),["Sex","Embarked"]),
        ("tnf3",SimpleImputer(strategy="mean"),["Age"]),
    ],
    remainder="passthrough"
)

In [81]:
encoded_data = transformer.fit_transform(X_train)

In [82]:
transformer

ColumnTransformer(remainder='passthrough',
                  transformers=[('tnf1',
                                 SimpleImputer(strategy='most_frequent'),
                                 ['Embarked']),
                                ('tnf2', OneHotEncoder(), ['Sex', 'Embarked']),
                                ('tnf3', SimpleImputer(), ['Age'])])

In [83]:
encoded_data

array([['S', 0.0, 1.0, ..., 'STON/O 2. 3101285', 7.925, nan],
       ['C', 0.0, 1.0, ..., 'PC 17754', 34.6542, 'A5'],
       ['S', 1.0, 0.0, ..., 'C.A. 33595', 15.75, nan],
       ...,
       ['S', 0.0, 1.0, ..., '28134', 11.5, nan],
       ['S', 0.0, 1.0, ..., '239853', 0.0, nan],
       ['C', 1.0, 0.0, ..., 'PC 17604', 82.1708, nan]], dtype=object)

In [84]:
transformed_data = pd.DataFrame(encoded_data)
transformed_data.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,S,0.0,1.0,0.0,0.0,1.0,0.0,20.0,665,3,"Lindqvist, Mr. Eino William",1,0,STON/O 2. 3101285,7.925,NaN
1,C,0.0,1.0,1.0,0.0,0.0,0.0,71.0,97,1,"Goldschmidt, Mr. George B",0,0,PC 17754,34.6542,A5
2,S,1.0,0.0,0.0,0.0,1.0,0.0,40.0,162,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",0,0,C.A. 33595,15.75,NaN
3,S,1.0,0.0,0.0,0.0,1.0,0.0,36.0,764,1,"Carter, Mrs. William Ernest (Lucile Polk)",1,2,113760,120.0,B96 B98
4,Q,1.0,0.0,0.0,1.0,0.0,0.0,39.0,886,3,"Rice, Mrs. William (Margaret Norton)",0,5,382652,29.125,NaN

In [85]:
transformed_data.columns

RangeIndex(start=0, stop=16, step=1)