In [1]:
import pandas as pd
import numpy as np

In [21]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer

In [6]:
df = pd.read_csv("Titanic-Dataset.csv")
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<h1>Making train test split</h1>

In [7]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test = train_test_split(df.drop(["Survived"],axis=1),df["Survived"],test_size=0.2)

In [13]:
X_train.shape

(712, 11)

In [15]:
X_train.sample(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
237,238,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.0,0,2,C.A. 31921,26.2500,NaN,S
766,767,1,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C
277,278,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0000,NaN,S
354,355,3,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C
849,850,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C

In [17]:
y_train.sample(5)

84     1
727    1
798    0
597    0
93     0
Name: Survived, dtype: int64

In [18]:
X_test.shape

(179, 11)

In [19]:
X_train.shape

(712, 11)

In [23]:
X_train.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            142
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          549
Embarked         2
dtype: int64

In [20]:
from sklearn.compose import ColumnTransformer

In [36]:
transformer = ColumnTransformer(
    transformers=[
        ("tnf1",OneHotEncoder(),["Sex","Embarked"]),
        ("tnf2",SimpleImputer(strategy="mean"),["Age"]),
        ("tnf3",SimpleImputer(strategy="most_frequent"),["Embarked"]),
    ],
    remainder="passthrough"
)

In [48]:
encoded_data = transformer.fit_transform(X_train)

In [49]:
transformer

ColumnTransformer(remainder='passthrough',
                  transformers=[('tnf1', OneHotEncoder(), ['Sex', 'Embarked']),
                                ('tnf2', SimpleImputer(), ['Age']),
                                ('tnf3',
                                 SimpleImputer(strategy='most_frequent'),
                                 ['Embarked'])])

In [50]:
encoded_data

array([[0.0, 1.0, 0.0, ..., 'STON/O 2. 3101285', 7.925, nan],
       [0.0, 1.0, 1.0, ..., 'PC 17754', 34.6542, 'A5'],
       [1.0, 0.0, 0.0, ..., 'C.A. 33595', 15.75, nan],
       ...,
       [0.0, 1.0, 0.0, ..., '28134', 11.5, nan],
       [0.0, 1.0, 0.0, ..., '239853', 0.0, nan],
       [1.0, 0.0, 1.0, ..., 'PC 17604', 82.1708, nan]], dtype=object)

In [59]:
transformed_data = pd.DataFrame(encoded_data)
transformed_data.head()

In [54]:
X_train.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')