In [36]:
import csv
import random

# Creating a student attendance dataset
attend = ["A","P"]

with open("datetime_data.csv", "w", newline="") as csvfile:
    writer = csv.writer(csvfile)
    
    writer.writerow(["date_time", "attendence"])
    for i in range(1,200):
        random_num = random.randint(0,1)
        writer.writerows([
            ["2023-01-01",attend[random_num]]
            # ... (more rows can be added)
        ])

In [37]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
df = pd.read_csv("datetime_data.csv")
df.sample(5)

      date_time attendence
54   2023-01-01          P
79   2023-01-01          A
57   2023-01-01          P
51   2023-01-01          A
127  2023-01-01          A

In [43]:
df["date-time"] = pd.to_datetime(df["date_time"])
df["year"] = df["date-time"].dt.year
df["month"] = df["date-time"].dt.month
df["date"] = df["date-time"].dt.day

In [44]:
df.sample(5)

      date_time attendence  date-time  year  month  date
142  2023-01-01          P 2023-01-01  2023      1     1
3    2023-01-01          P 2023-01-01  2023      1     1
110  2023-01-01          P 2023-01-01  2023      1     1
133  2023-01-01          P 2023-01-01  2023      1     1
191  2023-01-01          A 2023-01-01  2023      1     1